<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">Shop</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                        <a class="nav-link active" href="/admin/item/new">상품등록</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                        <a class="nav-link" href="/admin/items">상품관리</a>
                    </li>
                    <li class="nav-item"  sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/cart">장바구니</a>
                    </li>
                    <li class="nav-item"  sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/orders">구매이력</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" href="/members/login">로그인</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <form th:action="@{/members/logout}" method="post" class="mb-0 h-100">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                            <button type="submit"
                                    class="nav-link border-0 bg-transparent text-white d-block w-100 text-left"
                                    style="cursor: pointer;">로그아웃</button>
                        </form>
                    </li>
                </ul>
<!--hasAnyAuthority('ROLE_ADMIN') 관리자 상품등록 상품관리-->
<!--                sec:authorize="isAuthenticated() 로그인한 사람 장바구니,구매이력 , 로그아웃 -->
<!--                sec:authorize="isAnonymous()" 로그인 안한 사용자 로그인만 보임-->
                <form class="form-inline my-2 my-lg-0" th:action="@{/}" method="get">
                    <input name="searchQuery" class="form-control mr-sm-2 search-input" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
                </form>
<!--                @{/} 검색버튼을 누르면 메인페이지(/) 다시 이동후 메인컨트롤러가 서버의 Item SearchDto 내에
  있는 searchQuery 필드와 이름이 같아야 스프링이 값을 바인팅 -->
<!-- /?searchQuery=셔츠    name="searchQuery"  MainController 의 main(ItemSearchDto itemSearchDto ) 의
  Spring의 itemSearchDto  의  searchQuery 필드에 자동 바인딩 -->

<!--                즉, 헤더에서 검색하면 홈(상품 목록) 이 다시 열리면서, -->
<!--                그때 넘긴 문자열로 목록이 필터링되는 흐름입니다. MainController는 ItemSearchDto와 page를 -->
<!--                받아 getMainItemPage를 호출합니다.-->

            </div>
        </div>
    </nav>
</div>
</html>